<div class="homepage p-5">
  <img src="../assets/theme.png" class="logo" width="400" height="82" loading="lazy" />
  <h1>Welcome to Shopify Theme Development course!</h1>
  <p>{% render 'homepage-text' %}</p>


</div>